{
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "printWidth": 80,
    "arrowParens": "avoid",
    "plugins": ["prettier-plugin-organize-imports"],
    "organizeImports": {
    "groups": [
      ["builtin", "external"],
      "internal",
      "parent",
      "sibling",
      "object"
    ],
    "spaces": [2, 2],
    "order": {
      "builtin": "asc",
      "external": "asc",
      "internal": "asc",
      "parent": "asc",
      "sibling": "asc",
      "object": "asc"
    }
  }
  }
  